<div class="container-fluid">
  <div class="col-8">
    <table class="table">
      <thead class="table-dark">
        <tr class="shadow">
          <th scope="row" class="">#</th>
          <th scope="row" class="">Nombre Común</th>
          <th scope="row" class="">Tipo</th>
          <th scope="row" class="">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr class="shadow-offset-down-xl" *ngFor="let p of planta">
          <th scope="row">
            <dd>{{p.id}}</dd>
          </th>
          <td>
            <dd>{{p.nombre_comun}}</dd>
          </td>
          <td>
            <dd>{{p.tipo}}</dd>
          </td>
          <td>
            <dd>{{p.clima}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
