<div class="container-fluid">
  <h1 class="display-2">
    Vivero El Otoño
  </h1>
  <img src="./assets/fondo.png" />
  <div class="col-8">
    <table class="table">
      <thead class="table-dark">
        <tr class="shadow">
          <th scope="row" class="">#</th>
          <th scope="row" class="">Nombre Común</th>
          <th scope="row" class="">Tipo</th>
          <th scope="row" class="">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr class="shadow-offset-down-xl" *ngFor="let p of plantas">
          <th scope="row">
            <dd>{{p.id}}</dd>
          </th>
          <td>
            <dd>{{p.nombre_comun}}</dd>
          </td>
          <td>
            <dd>{{p.tipo}}</dd>
          </td>
          <td>
            <dd>{{p.clima}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h4>Total Plantas Interior: {{totalInterior}}</h4>
    <h4>Total Plantas Exterior: {{totalExterior}}</h4>
  </div>
  <p>Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</p>
</div>
