.container-fluid {
  padding: 30px 100px 85px;
}
.table {
  font-size: 18px;
  margin-top: 25px;
}
td {
  text-shadow: 1px 3px 5px #b5b5b5;
  font-weight: 600;
}
h1 {
  font-family: 'Kaisei Decol';
  font-size: 36px;
  font-weight: bold;
  text-shadow: 1px 3px 5px #b5b5b5;
  margin-bottom: 30px;
  padding: 32px 0 20px;
  border-bottom: 1px solid #E5E5E5;
  box-shadow: 0px 1px 1px #F2F2F2;
  max-width: 1244px;
}
h4 {
  font-size: 20px;
}
p {
  margin-top: 133px;
  font-weight: 500;
  text-align: center;
}

img {
  width: 100%;
}